nav{
    float: left;
    max-width:160px;
    margin:0;
    padding: 1em;
    }
    
    nav ul {
    list-style-type: none;
    padding: 0;
    }
    
    nav ul a {
    text-decoration: none;
    }
    
    article {
    margin-left: 170px;
    border-left: 1px solid grey;
    padding: 1 em;
    overflow: hidden;
    }
    
    img {
                display: block;
                margin: auto;
            }
li {
    padding: 6px;
    margin-bottom: 7px; /*es el espacio entre elementos para la lista*/
    background-color: rgba(230, 74, 126, 0.795);
    border-radius: 100px; /*es el redondel para el borde de cada elemento de la lista*/
    /*color: #000080;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);/*sonbra*/
}
li:hover {
    background-color: #F5DEB3;
}
body {
    background-color: palevioletred;
} 
.col-3 {width: 125%;} /*es para el largo que vamos a querer que se muestre*/

/* MOVIMIENTO*/
@keyframes moverTexto {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

.texto-con-movimiento {
    animation: moverTexto 6s ease infinite; /* Cambia el valor de "3s" para ajustar la velocidad de la animación */
}
/*SE ACAVA EL MOVIMIENTO*/

